/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  padding-top: 0;
  font-family: Arial;
}

header{
  background-image: url(img/17545.jpg);
}
h1{
text-align: center;
}

.inputform{
display: flex;
justify-content: center;  
padding: 15px;
margin: 15px;
color: #fff;
border: 1px;
border-radius: 10px;
border-color: rgb(126, 122, 122);
background-color: #333333;
}

#calculate{
display: flex;
justify-content:center;
  
}

#submitButton{
  padding: 9px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 42%;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #00d1ec;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
}

#submitButton:hover {background-color: #0c9494}

#submitButton:active {
  background-color: #613197;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.33%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#hight {background-color: rgb(32, 32, 32);}
#old {background-color: rgb(32, 32, 32);}
#index {
background-color: rgb(32, 32, 32);
line-height: 120%;
}
